*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-image: url('../Images/premium_photo-1672372475823-a76fc6910b32.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
   font-family: 'Bebas Neue', sans-serif;
}



.container{
    background-color: #3a3a3a;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
}
.timerDisplay{
    position: relative;
    width: 92%;
    background: #3a3a3a;
    left: 4%;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    color: red;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.buttons button{
    width: 120px;
    height: 45px;
    background-color: white;
    color: black; 
    border: 2px solid black; 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: lightgray; 
}

.buttons button:nth-last-child(2){
   background-color: #20b380;
 }
 
.buttons button:nth-last-child(1){
    background-color: #d23332;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    color: red;
    background-color: black; 
}

.navbar .logo h1 {
    margin: 0;
    font-size: 24px;
}

.navbar .menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.navbar .menu li {
    list-style-type: none;
    margin: 0 6px;
}

.navbar .menu a {
    text-decoration: none;
    font-family: 'Orbitron',sans-serif;
    color: red;
    font-size: 17px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.navbar .menu a:hover {
    color: darkred;
}
#logo img {
    max-width: 150px; 
    height: auto;
    display: block;
}